.main-dropdown{
    width: 100%;
    height: auto   ;
    /* position: relative; */
    overflow: hidden;

}

/* .div1,.div2,.div3,.div4,.div5,.div6{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6px;
    justify-content: center;
    cursor: pointer;
}  */

.main-sub-parent{
    background-color: black;
    color: rgb(117, 112, 112); 
    /* height: 50px; */
}

.list-items{
    width: 100%;
    height:15rem;
    padding-bottom: 200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    /* background-color: blueviolet; */
}



.list-items ul{
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* margin-top: 0px; */
    /* color: black; */
}
.list-items ul li{
    /* padding: 10px; */
    text-align: left;
    
}
.hide-nav{
    display: none;

    /* color: black; */

    top: 190px;
    padding: 0px;

  
}

.list-items ul li{
    padding: 10px 25px;
    color: white;
}

.list-items ul li:hover{
  background-color: #840214;
  color: white;
  padding: 10px 25px;
  transition: 0.5s;
  border-radius: 7px;
}

.list-items ul li:hover .hide-nav{
    display: block;
    position: absolute;
    width:auto ;
    height: auto;
    right: 80px;
    /* margin-right: 400px; */
    padding-left: 40px; 
    /* padding-right: 100px; */
    z-index: 10;    
    background-color: white ;

}

.list-items ul li:hover .hide-nav ul{
    display: block;
    text-align: center;
    /* margin: 10px 20px;  */
    position: relative;

}

.list-items ul li:hover .hide-nav ul li{
    position: relative;
    right: 60px;
    display: flex;
    padding: 5px 2px ; 
    width: 20vh;
    overflow: hidden;
    /* display: flex; */
    font-size: 15px;
}

.list-items ul li:hover .hide-nav ul li a{
    text-decoration: none;
    color: rgb(117, 112, 112); 
}

.list-items ul li:hover .hide-nav ul li:hover{
    background-color:white ;
    /* color: red; */
    /* margin: 0 10px; */
    
}

.list-items ul li:hover .hide-nav ul li a:hover{
    margin: 0 5px;
    transition: 1s;
    color: red;
}
