.main-dropdown{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main-sub-parent{
    background-color: black;
    color: rgb(117, 112, 112); 
}

.list-items{
    width: 100%;
    height:15rem;
    padding-bottom: 200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}



.list-items ul{
    
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}
.list-items ul li{
    text-align: left;
    padding: 10px 25px;
    color: white;
}
.hide-nav{
    display: none;
    top: 5.45rem;
    position: relative;
}

.list-items ul li:hover{
  background-color: #840214;
  color: white;
  padding: 10px 25px;
  transition: 0.5s;
  border-radius: 7px;
}

.list-items ul li:hover .hide-nav{
    display: block;
    position: absolute;
    justify-content: center;
    width:20% ;
    height: auto;
    z-index: 10;    
    background-color: white ;

}

.list-items ul li:hover .hide-nav ul{
    display: block;
    text-align: center;
    position: relative;

}

.list-items ul li:hover .hide-nav ul li{
    display: flex;
    padding: 5px 2px ; 
    width: 100%;
    position: relative;
    right: 25px;
    overflow: hidden;
    font-size: 15px;
}

.list-items ul li:hover .hide-nav ul li a{
    text-decoration: none;
    color: rgb(117, 112, 112); 
}

.list-items ul li:hover .hide-nav ul li:hover{
    background-color:white ;
}

.list-items ul li:hover .hide-nav ul li a:hover{
    transition: 1s;
    color: red;
}

.long-div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
}

.long-div ul{
    width: 100%;
    height: auto;
}

.long-div ul li{
    width: 100%;
    height: auto;
}

.content-div{
    display: flex;
    width: 100% ;
    justify-content: flex-start;
}



