 .main-header{
    width: 100%;
    height: 3rem;
    position: relative;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
    color: rgb(184, 184, 184);
}

.name-div{
    font-size: 30px;
    font-weight: bold;
}

.navbar-div{
    width: 100%;
    height: 100%;
}

.navbar-div ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10px;
}

.navbar-div ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(180, 180, 180);
}

/* .navbar-div{
    width: 100%;
    height: 100%;
}

.name-div{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.navbar-div ul{ 
    display: flex; 
     list-style: none; 
     font-size: 22px;
     font-weight: 300;
     justify-content: space-evenly;
     align-items: center;

 }  

.navbar-div ul li{
    padding: 15px; 
    padding: 8px 20px;   
}

.navbar-div ul li a{
    text-decoration: none;
    color: white;
}

.navbar-div ul li a:hover{
    color: rgb(32, 31, 31);
}

.navbar-div ul li:hover{
    background-color: white;
    padding: 8px 20px;
    color: black;
    transition: 1s;
    border-radius: 10px;
    cursor: pointer;
} */


