.main-products6{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    bottom: 141px;
}

.products-categories6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-categories6 .div1-6{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    margin-left: 8rem;
/* font-size: 15px; */
}

.div1-6 h3{
    font-size: 20px;    
}

.div2-6{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 1rem;
}

.div2-6 ul{
    list-style: none;
    display: flex;
    /* flex-direction: column; */

}

.div2-6 ul li{
    border: 2px solid rgb(124, 123, 123);
    width: 70%;
}

.div2-6 ul li a{
    text-decoration: none;
    color: black;

}

.ProductsArts6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    align-items: center; 
}

.setloaderclass{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center; 
}


.products-here6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: center;
    padding:0px 20px;
    margin: 10px;

}

.products-here6 img{
    width: 100%;
    height: auto;

}

.products-here6:hover{

    cursor: pointer;
}

.products-here6 h4{
    text-align: left;
    font-size: 15px;
}